/* helper style - css box model */
.border-blue {
    border: 1px solid blue;
}

body {
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

/* Header Section */
#nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px;
    margin-bottom: 50px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline-block;
    margin-right: 10px;
}

a {
    color: #000000;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

i {
    margin-right: 10px;
    cursor: pointer;
    background: none;
    padding: 5px;
    border-radius: 50%;
}

i:hover {
    background: #ccd5ae;
}

#toggle-btn {
    border-radius: 20px;
    padding: 0;
    margin: 0;
    background: none;
}

#nav-btn {
    background: #0077b6;
    color: #ffffff;
    border-radius: 12px;
}

/* Search Section */
#logo-img {
    width: 300px;
    display: block;
    margin: 0 auto;
}

#search-input {
    width: 500px;
    display: block;
    margin: 20px auto;
    padding: 10px 12px;
    border: 2px solid #ccd5ae;
    border-radius: 24px;
}

#search-input:hover {
    border: 2px solid #0077b6;
}

#search-input:hover::placeholder {
    color: #0077b6;
}

#search-input:focus::placeholder {
    color: transparent;
}

#search-input:focus {
    outline: none;
}

#search-input::placeholder {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #000000;
}

button {
    padding: 10px 12px;
    font-family: inherit;
    background: #ccd5ae;
    border: 1px solid transparent;
}

button:hover {
    cursor: pointer;
    border: 1px solid #000000;
}

button:focus {
    font-weight: bolder;
}

p a {
    color: blue;
}

/* Footer Section */
#footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    text-align: left;
    background: #ccd5ae;
}

#country-location {
    padding: 10px;
    border-bottom: 2px solid #ffffff;
}

#links-wrap {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}